body {
  /* footer section {
    float:right;
  } */
}
body html {
  font-family: "Montserrat", sans-serif;
}
body .colorindex {
  margin: 0;
  background-color: #efefef;
}
body #titulo {
  background-color: #364552;
  color: white;
  padding: 3rem 2rem;
}
body header h1 {
  font-size: 4rem;
  text-align: center;
}
body .imagen {
  width: 100px;
  text-decoration: none;
}
body .ferrari1 {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  position: relative;
  display: inline-block;
  left: 15%;
}
body .imagen2 {
  width: 100px;
}
body .lamborghini1 {
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: inline-block;
  height: 200px;
  width: 200px;
  left: 20%;
}
body .imagen3 {
  width: 100px;
}
body .mercedes {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: inline-block;
  left: 25%;
}
body .imagen4 {
  width: 100px;
}
body .mclaren {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: inline-block;
  left: 30%;
}
body .colorh3 {
  color: black;
  text-decoration: none;
}
body section article:hover {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
body .charlablog {
  text-align: center;
}
body .marcas100 {
  background-color: gray;
  color: black;
}
body .marcas {
  text-align: center;
}
body .links a:active {
  background-color: black;
}
body section article {
  transition: all 0.3s ease;
  background-color: #fff;
  margin: 2rem 0;
  border-radius: 0.5rem;
  padding: 0.25rem 0;
  cursor: pointer;
}
body .video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
body .video2 {
  margin-left: -10px;
  margin-right: 50px;
  margin-bottom: 40px;
}
body .italiana {
  width: 400px;
}
body .texto8 {
  margin-left: 15px;
}
body .calendario {
  border-collapse: collapse;
  width: 200px;
  margin-left: 42%;
  margin-bottom: 50px;
  margin-top: 50px;
}
body th, body td {
  text-align: center;
  padding: 8px;
}
body .dias {
  background-color: #f2f2f2;
}
body .fechas {
  background-color: #ffffff;
}
body td:hover {
  background-color: #aaa;
  cursor: pointer;
}
body .highlight {
  background-color: #cccccc;
}
body h5 {
  border: 1px solid black;
  padding: 10px;
  width: 600px;
}
body h5 {
  border: 1px solid black;
  padding: 10px;
  width: 463px;
  margin-left: 34%;
}
body .precio {
  margin-top: -50px;
}
body .EMPContacto {
  margin-top: -50px;
}
body .MDPContacto {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  color: #555;
}
body .footerindex {
  background-color: #222;
  padding: 2.5rem;
  color: #fff;
}
body .pindex {
  margin: 0;
  margin-right: 60px;
}
body .encuadrado {
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
}
body .mail {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}
body button[type=reset] {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
body button[type=reset]:hover {
  background-color: #333;
}
@media (max-width: 500px) {
  body .ferrari1,
  body .lamborghini1,
  body .mercedes,
  body .mclaren {
    display: block;
    margin: 0 auto 5px;
    width: 80%;
    left: initial;
  }
  body .mercedes {
    margin-top: -40px;
  }
  body .video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .video2 {
    margin: 0 auto;
    max-width: 300px;
  }
  body .video2 iframe {
    width: 100%;
    height: auto;
  }
  body .italiana {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  body h5 {
    margin: 0 auto;
    max-width: 350px;
    max-height: 400px;
  }
  body .calendario {
    margin: 0 auto;
  }
  body .precio {
    margin-top: 80px;
  }
  body .footerindex {
    font-size: 15px;
  }
}

body nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 30;
}
body nav ul li {
  display: inline;
}
body nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: #383838;
  border: 1px solid #ccc;
  margin-right: 10px;
}
body nav ul li a:hover {
  background-color: #ddd;
}
body .imagen5 {
  width: 200px;
  position: absolute;
  top: 70px;
  left: -20px;
}
body .imagen6 {
  width: 400px;
  position: absolute;
  top: -75px;
  left: 520px;
}
body .colorbody {
  color: rgb(193, 193, 193);
}
body .texto10 {
  margin-top: 270px;
  margin-left: 40px;
  font-size: 20px;
  width: 650px;
}
body .video10 {
  float: right;
  margin-right: 60px;
  margin-top: -230px;
}
body .hrferrari {
  margin-top: 150px;
}
body .modelos {
  text-align: center;
}
body .autos1 {
  display: flex;
  align-items: center;
}
body .modelosferrari {
  margin-left: 220px;
  margin-top: 75px;
}
body .enzo {
  width: 450px;
  height: auto;
  margin-left: 70px;
  margin-right: 70px;
}
body .textoenzo {
  width: 400px;
}
body .laferrari {
  width: 450px;
  height: auto;
  margin-left: 70px;
  margin-right: 70px;
}
body .autos2 {
  display: flex;
  align-items: center;
}
body .textolaferrari {
  width: 400px;
}
body .autos3 {
  display: flex;
  align-items: center;
}
body .f1ferrari {
  width: 450px;
  height: auto;
  margin-left: 70px;
  margin-right: 70px;
}
body .textof1 {
  width: 400px;
}
body .valorautos {
  text-align: center;
}
body .tabla30 {
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(56, 13, 12);
  margin-left: 34%;
  margin-top: 30px;
  margin-bottom: 30px;
}
body .tabla30 {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
  color: white;
}
@media (max-width: 500px) {
  body .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body .links li {
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 10px;
  }
  body .links li a {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  body .imagen5 {
    margin-top: 50px;
    width: 100px;
    margin-left: 15px;
  }
  body .imagen6 {
    margin-left: -410px;
    width: 200px;
    margin-top: 123px;
  }
  body .texto10 {
    margin-top: 100px;
    margin-left: 10px;
    text-align: center;
    width: 350px;
    font-size: 20px;
  }
}
@media (max-width: 500px) and (max-width: 500px) {
  body .video10 {
    max-width: 100%;
    margin-top: 30px;
    margin-left: 50px;
  }
  body .video10 iframe {
    max-width: 100%;
    max-height: 100%;
  }
  body .modelosferrari {
    margin-left: 120px;
    margin-top: 50px;
  }
  body .autos1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  body .enzo {
    width: 300px;
    height: auto;
  }
  body .textoenzo {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    width: 350px;
  }
  body .autos2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  body .laferrari {
    width: 300px;
    height: auto;
  }
  body .textolaferrari {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    width: 350px;
  }
  body .autos3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  body .f1ferrari {
    width: 300px;
    height: auto;
  }
  body .textof1 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    width: 350px;
  }
  body .tabla30 {
    max-width: 350px;
    width: 100%;
    border-collapse: collapse;
    margin-left: 13px;
  }
  body .tabla30 th, body .tabla30 td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  body .tabla30 th {
    background-color: #060505;
    text-align: center;
  }
  body .tabla30 tr:nth-child(even) {
    background-color: #040404;
  }
}

.ferraripagina {
  background-color: rgb(56, 13, 12);
}

body #carouselExampleIndicators {
  width: 400px;
  height: 200px;
  margin: 0 auto;
}
body .imagenlamb {
  width: 200px;
  height: auto;
  position: absolute;
  top: 60px;
  left: -20px;
}
body .imagenlamb1 {
  width: 630px;
  position: absolute;
  top: -75px;
  left: 400px;
}
body .textolamb {
  width: 600px;
  font-size: 20px;
  margin-top: 230px;
  margin-left: 40px;
}
body .creador {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
body .ferruccio {
  margin-left: 100px;
  width: 400px;
  height: auto;
  margin-top: 200px;
}
body .creador2 {
  text-align: right;
  margin-right: 320px;
}
body .muerte {
  margin-right: 65px;
  margin-top: -12px;
}
body .modelolamb {
  margin-top: 100px;
  text-align: center;
}
body .fundacion {
  margin-top: 70px;
}
body .fundacionlamb {
  margin-left: 140px;
}
body .ubicacion3 {
  width: 450px;
  height: 300px;
  margin-left: 55px;
}
body .historialamb1 {
  border: 2px solid black;
  width: 500px;
  font-size: 17px;
  margin-left: 57%;
  margin-top: 50px;
}
body .colorlambo2 {
  background-color: rgb(221, 221, 52);
}
body .historialamb {
  font-size: 17px;
  margin-left: 67%;
  margin-top: -341px;
}
body .footerlamb {
  background: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-left: -10px;
  margin-top: 30px;
}
@media (max-width: 500px) {
  body .imagenlamb {
    margin-top: 50px;
    width: 110px;
    margin-left: 15px;
  }
  body .imagenlamb1 {
    margin-left: -320px;
    width: 250px;
    margin-top: 140px;
  }
  body .creador {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  body .ferruccio {
    width: 300px;
    height: auto;
    margin-top: 40px;
    margin-right: 130px;
  }
  body .textolamb {
    margin-left: -45px;
    margin-top: 80px;
    font-size: 16px;
    line-height: 1.5;
    width: 350px;
  }
  body .creador2 {
    margin-left: 150px;
    text-align: center;
  }
  body .muerte {
    width: 100px;
  }
  body .fundacionlamb {
    margin-top: -30px;
    margin-left: 20px;
  }
  body .ubicacion3 {
    width: 350px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
  }
  body .historialamb {
    margin-top: 80px;
    margin-left: 90px;
    font-size: 20px;
  }
  body .historialamb1 {
    margin-left: 25px;
    font-size: 15px;
    margin-top: 20px;
  }
}

html.colorlamborghini {
  background-color: rgb(221, 221, 52);
  font-family: Arial, sans-serif;
}

.colorlambo2 {
  background-color: rgb(221, 221, 52);
}

body .imagenmerc {
  width: 100px;
  height: auto;
  position: absolute;
  top: 90px;
  left: 30px;
}
body .textomerc {
  font-size: 85px;
  text-align: center;
  margin-top: 40px;
  margin-left: 70px;
  color: rgb(49, 49, 49);
}
body .containermerc {
  display: flex;
}
body .image-wrapper {
  flex: 0 0 40%;
}
body .primermodelomerc {
  font-size: 20px;
}
body .text-wrapper {
  flex: 1;
  padding-left: 20px;
  width: 40px;
}
body .image-wrapper img {
  width: 100%;
  height: auto;
}
body .prlogo {
  width: 400px;
  height: auto;
  margin-left: 70%;
  margin-top: -200px;
}
body .textoprimerlogomerc {
  font-size: 20px;
  width: 60%;
  margin-top: 110px;
  margin-left: 30px;
}
body .tablemerc {
  width: 45%;
  border-collapse: collapse;
  margin-top: 70px;
  margin-left: 27%;
}
body .tdmerc {
  border: solid 1px #eee;
  padding: 5px;
}
body .thmerc1 {
  border: solid 1px #eee;
  padding: 5px;
  background-color: rgb(228, 228, 228);
  text-align: center;
}
body .trmerc {
  text-align: center;
  background-color: rgb(188, 188, 188);
}
body .trmerc:hover {
  background-color: #aaa;
  cursor: pointer;
}
body .linkanimadomerc {
  display: inline-block;
  position: relative;
  color: #000;
  text-decoration: none;
  margin-left: 74%;
  margin-top: 100px;
}
body .linkanimadomerc::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
body .linkanimadomerc:hover::after {
  transform: scaleX(1);
}
body .footermerc {
  background: #fffcfc;
  color: #000000;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-left: -10px;
  margin-top: 30px;
}
@media (max-width: 500px) {
  body .imagenmerc {
    margin-top: 40px;
    width: 60px;
    margin-left: -10px;
  }
  body .textomerc {
    margin-left: 50px;
    font-size: 35px;
    margin-top: 30px;
  }
  body .image-wrapper {
    margin-top: 10px;
  }
  body .primermodelomerc {
    margin-left: -130px;
    font-size: 18px;
    width: 300px;
    text-align: center;
  }
  body .prlogo {
    margin-top: -5px;
    margin-left: 40px;
    width: 300px;
    height: auto;
  }
  body .textoprimerlogomerc {
    margin-top: 100px;
    text-align: center;
    margin-left: 40px;
    width: 300px;
  }
  body .tablemerc {
    max-width: 350px;
    width: 100%;
    border-collapse: collapse;
    margin-left: 13px;
  }
  body .tablemerc th, body .tablamerc td {
    padding: 8px;
    border: 1px solid #aaa;
  }
  body .tablemerc th {
    background-color: #ffffff;
    text-align: center;
  }
  body .tablemerc tr:nth-child(even) {
    background-color: #aaa;
  }
  body .linkanimadomerc {
    margin-left: 270px;
    width: 100px;
    font-size: 15px;
    margin-top: 40px;
  }
}

.fondomerc {
  background-color: rgb(147, 147, 147);
}

body .imagenmac {
  width: 630px;
  position: absolute;
  top: -85px;
  left: 400px;
}
body .videomac {
  float: left;
  margin-top: 50px;
  margin-left: 60px;
  height: 300;
}
body .automac {
  font-size: 20px;
  width: 600px;
  margin-left: 50%;
  margin-top: 260px;
}
body .ayrtonmac {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 250px;
}
body .imagenmac1 {
  align-items: center;
  margin-left: 41%;
  width: 300px;
}
body .h1mac {
  font-size: 20px;
  width: 600px;
  text-align: center;
  margin-left: 30%;
  border-radius: 2px solid black;
  padding: 10px;
}
body .fundacionmac {
  text-align: left;
  margin-left: 50px;
}
body .h3mac {
  margin-left: 200px;
  margin-top: -50px;
}
body .imagenmac3 {
  width: 600px;
  height: auto;
  float: right;
  margin-top: -400px;
  margin-right: 50px;
}
body .h4mac {
  font-size: 20px;
  text-align: right;
  margin-right: 150px;
  margin-top: 80px;
}
body .footermac {
  background: #000000;
  color: #d0d0d0;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-left: -10px;
  margin-top: 30px;
}
@media (max-width: 500px) {
  body .imagenmac {
    margin-top: 170px;
    width: 280px;
    margin-left: -335px;
  }
  body .videomac {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-top: -170px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .videomac iframe {
    max-width: 100%;
    height: auto;
  }
  body .automac {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 300px;
    text-align: center;
    width: 350px;
  }
  body .imagenmac1 {
    width: 250px;
    height: auto;
    margin-left: 70px;
    margin-top: -150px;
  }
  body .h1mac {
    margin-left: 10px;
    font-size: 17px;
    width: 350px;
  }
  body .h4mac {
    text-align: center;
    margin-top: 30px;
    margin-left: -10px;
    width: 300px;
  }
  body .imagenmac3 {
    margin-top: -520px;
    width: 300px;
    height: auto;
    margin-right: 35px;
  }
  body .h3mac {
    margin-top: 300px;
    text-align: center;
    margin-left: -50px;
  }
  body .fundaciondos {
    width: 300px;
    height: 200px;
    margin-left: -10px;
  }
}

.fondomac {
  background-color: rgb(255, 152, 0);
}/*# sourceMappingURL=main.css.map */